
class User(object):
    username = ""
    password = ""
    chormelocation = ""
    chormedriverlocation = ""

user = User()
user.username = "" #用户名，请替换
user.password = "" #密码，请替换
user.chormelocation = r"" #chrome浏览器位置，请替换
user.chormedriverlocation = r"" #chromedriver位置，请替换
